html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 90%;
  overflow: auto;
  position: relative;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('http://www.pptbackgrounds.org/uploads/online-banking-concept-backgrounds-wallpapers.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.sitefooter {
  height: 50px;
  margin-top: 0;
}
.logo-box {
  width: 100px;
  height: 100%;
}
.img-logo {
  width: 100%;
  height: 100%;
}
.site-title {
  font-size: 2em !important;
}
.inline {
  display: inline-block;
}
.blueishlinear{
  background: linear-gradient(0.25turn, rgba(19, 64, 96,.4), rgb(19, 64, 96), rgba(19, 64, 96,.4));
}
.greyish {
  background-color: rgb(160, 187, 204);
}
.dkgreen {
  background-color: #005D43;
}
.ltgreen {
  background-color: #056A69;
}
.blueish {
  background-color: rgb(19, 64, 96);
}
.dkgray {
  background-color: #2B3742;
}
.greyish-text {
  color: rgb(160, 187, 204);
}
.dkgreen-text {
  color: #005D43;
}
.ltgreen-text {
  color: #056A69;
}
.blueish-text {
  color: #134060;
}
.dkgray-text {
  color: #2B3742;
}
.flex {
  display: flex;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}
.flexSA {
  display: flex;
  justify-content: space-around;
}
.flexC {
  display: flex;
  justify-content: center;
}
.gridwrap{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.grid-box {
  border-radius: 10px;
  border: 1px solid #2B3742;
  background-color: rgba(19, 64, 96,0.8);
  padding: 4px;
}
.grid-box-fill {
  grid-column: 2 / 4;
  border:2px solid #2B3742;
  background-color: rgba(19, 64, 96,0.8);
  padding: 4px;
}
.grid-box p  {
  color:white;
}
h3,h1 {
  background-color: rgba(160, 187, 204,0.5);
  color:#2B3742;
}
@media only screen and (max-width: 800px){
  .grid-box {
    grid-column: 1 / 4;
  }
}
.grid-side {
  height:87vh;
  border:2px solid rgb(43, 55, 66);
  background-color: rgba(43, 55, 66,0.5);
  padding: 5px;
}
.index {
  grid-column: 1 / 4;
}
.gridcol5{
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-gap: 5px 5px;
  /* grid-auto-rows: minmax(100px, auto); */
}
.gridcol2{
  display: grid;
  grid-template-columns:repeat(2, 1fr) 60px;
  grid-gap: 10px 5px;
}
.gridcol5 > p {
  margin: 0;
  padding: 0;
}
.table-style{
  border-bottom: 2px solid black;
  height: 56vh;
  overflow: scroll;
}
.table-title {
  font-size: 30px;
  text-decoration: underline;
}
.chartgrid {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 10px 5px;
}
.grayishop {
  background: linear-gradient(0.25turn,rgba(160, 187, 204,1), rgba(129, 213, 189, 0.6),rgba(160, 187, 204,1));
  padding: 10px;
  border-radius: 6px;
}
::placeholder {
    color: rgb(0, 93, 67);
    opacity: 1; /* Firefox */
}
.blackborder {
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px;
}
.entercash::placeholder {
  color: #42f462 !important;
}
label {

}
