{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DoshTracker</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link rel='stylesheet' type='text/css' href='{% static "style.css" %}'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  </head>
  <body>

    {% if user.is_authenticated %}
      <nav>
        <div class="nav-wrapper dkgreen flexSB">
          <div class='logo-box inline'>
            <a href='/#'><img src='{% static "images/dosh.png" %}' class="img-logo"></a>
          </div>
          <ul class="inline">
            <li><a href='/#' class='greyish-text site-title'>DoshTracker</a></li>
          </ul>
          <ul>
            <li><a href='{% url 'profile' user.username %}'>Hello {{user.username}}</a></li>
            <li><a href='{% url 'logout' %}'>Log out</a></li>
          </ul>
        </div>
      </nav>
    {% else %}
    <nav>
      <div class="nav-wrapper dkgreen flexSB">
        <div class='logo-box inline'>
          <img src='{% static "images/dosh.png" %}' class="img-logo">
        </div>
        <ul class="inline">
          <li><a href='/#' class='greyish-text site-title'>DoshTracker</a></li>
        </ul>
        <ul>
          <li><a href='{% url 'login' %}'>Login</a></li>
          <li><a href='{% url 'signup' %}'>Signup</a></li>
        </ul>
      </div>
    </nav>
    {% endif %}
    <div class="content">
      <div class="content-inside">
        {% block content %}
        {% endblock %}
      </div>
    </div>



    <footer class="sitefooter dkgreen flexSA">All Rights Reserved, DoshTracker 2018</footer>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src='{% static "app.js" %}'></script>
  </body>
</html>
