{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="gridwrap">
    <div class="grid-side">
      <h3>{{ username.username }}</h3>
      <p>
        <a href='{% url 'entercash' username.username %}'>Enter Data</a>
      </p>
      <p>
        <a href='/edit/{{ username.username }}'>Edit Profile Info</a>
      </p>
      <p>
        <a href='{% url 'chart' username.username %}'>SEE A CHART</a>
      </p>
      <p>
        <a class="modal-trigger" href="#modal1">Destroy Account</a>
      </p>
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Delete Account?</h4>
          <p>Are you sure you want to delete your Account? All your information will be erased permanently.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
          <a href='/destroy/{{ username.username }}' class="modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
        </div>
      </div>
    </div>
    <div class="grid-box-fill">
      <h3>Entries (Default is last 30 days)</h3>
      <form class='blueishlinear gridcol2' method='POST'>
        {% csrf_token %}
        <label for='start_date'>Pick a Start Date: (Today is Default)
          <input type='text' id='start_date' name='start_date' class="datepicker" placeholder="YYYY-MM-DD Format">
        </label>
        <label for='past_date'>Pick an End Date:
          <input type='text' id='past_date' name='past_date' class="datepicker" placeholder="YYYY-MM-DD Format">
        </label>
        <input type='submit' value='submit' class="">
      </form>
      <div class='moneyEntries gridcol5 flexC'>
        <p class="table-title">Date:</p>
        <p class="table-title">Cash:</p>
        <p class="table-title"> Wage:</p>
        <p class="table-title">Edit:</p>
        <p class="table-title">Delete:</p>
      </div>
      <div class='moneyEntries gridcol52 flexC table-style'>
        {% for money in allMoney %}
          <p>{{money.date}} </p>
          <p>{{money.cash}}</p>
          <p>{{money.day_wage}}</p>
          <a href='/edit/{{ username.username }}/money/{{money.id}}'>Edit</a>
          <a href='/destroy/{{ username.username }}/money/{{money.id}}'>Delete</a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
