h1 {
  color: turquoise;
}
a {
  background-color: teal;
}
.logo-box {
  width: 100px;
  height: 100%;
}
.img-logo {
  width: 100%;
  height: 100%;
}
.site-title {
  /* font-size: 2em !important; */
  color: black !important;
}
.inline {
  display: inline-block;
}
.greyish {
  background-color: #A0BBCC;
}
.dkgreen {
  background-color: #005D43;
}
.ltgreen {
  background-color: #056A69;
}
.blueish-text {
  background-color: #134060;
}
.dkgray {
  background-color: #2B3742;
}
/* .greyish-text {
  color: #A0BBCC;
} */
.dkgreen-text {
  color: #005D43;
}
.ltgreen-text {
  color: #056A69;
}
.blueish-text {
  color: #134060;
}
.dkgray-text {
  color: #2B3742;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}
